/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Bebas Neue', sans-serif !important;
  }
  
  body {
    font-family: 'Bebas Neue', sans-serif !important;
  }
  
  * {
    font-family: 'Bebas Neue', sans-serif !important;
  }
}
